<ion-header>
	<ion-toolbar color="primary">
    
		<nav class="navbar navbar-expand-lg navbar-light ">
		  <div class="container-fluid">
			<a class="navbar-brand" href="/intro">Societe</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
			  <ul class="navbar-nav">
				<li class="nav-item">
				 
				  <a class="nav-link active" aria-current="page" routerLink="/intro"> home</a>
				</li>
				<li class="nav-item">
				 
				  <a class="nav-link active" aria-current="page" routerLink="/about"> about</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" routerLink="/post">Post</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" routerLink="/contact">contact</a>
				</li>
			 
				<div class="navbar-nav ms-auto">
				  <a routerLink="/login" class="nav-item nav-link">Login</a>
			  </div>
			  <div class="navbar-nav ms-auto">
				<ion-button expand="full" (click)="logout()">Logout</ion-button>
			</div>
			  </ul>
			</div>
		  </div>
		</nav>
	  </ion-toolbar>
</ion-header>

<ion-content>
	<form (ngSubmit)="login()" [formGroup]="credentials">
		<div class="input-group">
			<ion-item>
				<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
			</ion-item>
			<div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
				<span *ngIf="email.errors?.required">Email is required</span>
				<span *ngIf="email.errors?.email">Email is invalid</span>
			</div>
			<ion-item>
				<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
			</ion-item>
			<div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
				<span *ngIf="password.errors?.required">Password is required</span>
				<span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
			</div>
		</div>

		<ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
		<ion-button type="button" expand="block" color="light" fill="clear"
			>Not yet a member? Sign up!
		</ion-button>

		<ion-button type="button" expand="block" color="tertiary">
			<ion-icon name="logo-google" slot="start"></ion-icon>
			Sign in with Google
		</ion-button>
		<ion-button type="button" expand="block" color="tertiary">
			<ion-icon name="logo-apple" slot="start"></ion-icon>
			Sign in with Apple
		</ion-button>
	</form>
</ion-content>